.academy-link {
  display: flex;
  margin: 14px 20px 0 20px;
  padding: 20px 0 0 0;
  text-decoration: none;
  color: $second-text-color;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    padding: 0 30px 0 0;
    border: none;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

  