.advantages {
  display: flex;
  margin: 2px auto 0 auto;
  padding: 0;
  justify-content: center;
  color: $main-text-color;
  font-family: "Oswald-regular", "Arial", sans-serif;
}

.advantages__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;


  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__wrapper {
  width: $mobile;
  padding: 0 20px;

  @media (min-width: $tablet) {
    margin-top: 13px;
    padding: 0 30px;
    width: $tablet;
  }

  @media (min-width: $desktop) {
    width: $desktop;
    margin-top: 39px;
    padding: 0;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin: 42px 0 0 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 32px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    counter-reset: tablet-counter;
    row-gap: 37px;
    column-gap: 60px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
  }
}

.advantages__item {
  position: relative;
  display: flex;
  color: $second-text-color;
  align-items: center;

  @media (min-width: $tablet) {
    flex-direction: column;
    align-items: start;
    width: 230px;
    min-height: 280px;
    position: relative;
    padding-top: 151px;

    &::before {
      content: counter(tablet-counter);
      font-size: 280px;
      line-height: 280px;
      position: absolute;
      top: 0;
      right: -18px;
      color: #f2f2f2;
      counter-increment: tablet-counter;
      z-index: -1;
      align-items: start;
    }

    &:first-child {
      &::before {
        content: counter(tablet-counter);
        right: 5px;
      }
    }
  }
}

.advantages__item--leaf::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: $main-color url("../../img/icon_leaf.svg") no-repeat center center;

  @media (min-width: $tablet) {
    width: 80px;
    height: 80px;
    top: 40px;
  }
}

.advantages__item--cup::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: $main-color url("../../img/icon_cup.svg") no-repeat center center;

  @media (min-width: $tablet) {
    width: 80px;
    height: 80px;
    top: 40px;
  }
}

.advantages__item--eat::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: $main-color url("../../img/icon_eat.svg") no-repeat center center;

  @media (min-width: $tablet) {
    width: 80px;
    height: 80px;
    top: 40px;
  }
}

.advantages__item--scale::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: $main-color url("../../img/icon_scale.svg") no-repeat center center;

  @media (min-width: $tablet) {
    width: 80px;
    height: 80px;
    top: 40px;
  }
}

.advantages__item-text {
  margin: 0;
  margin-left: 80px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet) {
    width: 245px;
    margin-left: 0;
    font-size: 16px;
    line-height: 24px;
  }
}
