.card__content {
    display: flex;
    justify-content: space-between;
    min-height: 107px;
    margin: auto;
    padding: 18px 0 16px 0;
  
    @media (min-width: $tablet) {
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      padding: 10px 0 33px 0;
      min-height: 400px;
    }
  }
  
  .card__img-link {
    cursor: pointer;
    display: block;
    margin: auto;
  
    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }
  
  .card__img-wrapper {
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    @media (min-width: $tablet) {
      width: 200px;
      min-height: 210px;
      margin-bottom: 22px;
    }
  
    @media (min-width: $desktop-width) {
      margin-bottom: 14px;
    }
  }
  
  .card__info {
    min-height: 110px;
  
    @media (min-width: $tablet) {
      width: 100%;
    }
  }
  
  .card__link-title {
    cursor: pointer;
    text-decoration: none;
  }
  
  .card__title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #222222;
    display: block;
    width: 76px;
    margin: 3px 0 15px 0;
  
  
    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: 24px;
      margin: auto;
      text-align: center;
      width: 135px;
    }
  }
  
  .card__description-list {
    padding: 0;
    display: block;
    width: 140px;
  
    @media (min-width: $tablet) {
      padding-top: 21px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  }
  
  .card__description-item {
    display: flex;
    justify-content: space-between;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: $second-text-color;
  
    @media (min-width: $tablet) {
      width: 100%;
      font-size: 16px;
      line-height: 20px;
      padding: 0 0 4px 0;
      border-bottom: 1px solid #cdcdcd;
    }
  
    @media (min-width: $desktop-width) {
      padding: 0 0 7px 0;
    }
  }
  
  .card__link {
    padding: 5px;
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: center;
    min-height: 40px;
    align-items: center;
    text-transform: uppercase;
    flex-wrap: wrap;
  }