.catalog {
  display: flex;
  width: $mobile;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  justify-content: center;
  color: $main-text-color;
  font-family: "Oswald-regular", sans-serif, "Arial";
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 27px 0 40px;
}

.catalog__list {
  list-style: none;
  padding: 0;
}

.catalog__item {
  border-top: 1px solid #ebebeb;
}

.catalog__item:last-child {
  border-bottom: 1px solid #ebebeb;
}

.card__content {
  display: flex;
  justify-content: space-between;
  height: 107px;
  margin: auto;
  padding: 0 18.5px;
}

.card__img-wrapper {
  width: 140px;
}

.card__img {

}

.card__description-list {
  padding: 0;
}

.card__description-item {
  display: flex;
  justify-content: space-between;
}

.card__link {
  display: flex;
  text-decoration: none;
  width: 100%;
  justify-content: center;
  height: 40px;
  align-items: center;
}

