.form-fieldset {
  padding: 0 20px;
  margin: 0 0 8px 0;
  border: none;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 226px;
    height: 30px;
    left: 0;
    top: -70px;
    background-color: #ffffff;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    border-top: 2px solid $main-color;
    width: 100vw;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    top: -55px;
    z-index: -2;
  }

  @media (min-width: $tablet) {
    margin-top: 65px;
    padding: 74px 70px 0 70px;

    &::before {
      left: 30px;
      width: 591px;
      top: -30px;
    }
  }

  @media (min-width: $desktop) {
    margin: 71px 0 0 0;
    padding: 75px 0 0 0;

    &::before {
      left: -40px;
    }

    &::after {
      top: -14px;
    }
  }
}

.fieldset-legend {
  font-size: 24px;
  position: relative;
  line-height: 26px;
  font-weight: 400;
  text-transform: none;
  color: #000000;
  padding: 0;
  margin-bottom: 18px;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
  }
}

.contacts__input-list {
  list-style: none;
  padding: 0;
  position: relative;

  @media (min-width: $tablet) {
    margin: 0;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin-bottom: 0;
  }
}

.contacts-item:last-child {
  margin-bottom: 0;
}

.contact__input-email-item::after {
  content: "";
  position: absolute;
  background-image: url("../../img/email_stroke.svg");
  top: 13px;
  right: 12px;
  height: 20px;
  width: 20px;

  @media (min-width: $tablet) {
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
  }

  @media (min-width: $desktop) {
    right: 16px;
  }
}

.contact__input-phone-item::after {
  content: "";
  position: absolute;
  background-image: url("../../img/phone_stroke.svg");
  height: 20px;
  width: 20px;
  top: 13px;
  right: 12px;

  @media (min-width: $tablet) {
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
  }

  @media (min-width: $desktop) {
    right: 16px;
  }
}

.contacts-item {
  position: relative;
  margin-bottom: 14px;

  @media (min-width: $tablet) {
    margin-bottom: 17px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.contact__input-label {
  display: flex;
  align-items: center;
}

.contact__input-text {
  display: block;
  margin: auto 13px auto 0;
  flex: 0 0 auto;
}

.contact__input {
  height: 45px;
  width: 100%;
  padding: 0 30px 0 15px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  font-family: "Oswald-regular", sans-serif, "Arial";
  text-transform: uppercase;
  color: $second-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet) {
    height: 55px;
    padding: 0 30px 0 20px;
    font-size: 20px;
    line-height: 20px;
  }
}

//Стилит при взаимодействии для Input

.contact__input-label:hover .contact__input {
  border: 1px solid #cdcdcd;
}

.contact__input-labell:focus .contact__input {
  border: 2px solid #444444;
}

.contact__input-label:invalid .contact__input {
  border: 2px solid #ff8282;
}

.comment__fieldset {
  &::before {
    content: "";
    width: 180px;
    left: -20px;
    top: -65px;
  }

  &::after {
    content: "";
    transform: translateX(-50%);
    top: -48.5px;
  }

  @media (min-width: $tablet) {
    margin-top: 55px;
    padding-top: 51px;

    &::before {
      content: "";
      width: 262px;
      left: 30px;
      top: -65px;
    }

    &::after {
      content: "";
      top: -50.5px;
    }
  }

  @media (min-width: $desktop) {
    margin-top: 68px;
    padding-top: 41px;

    &::before {
      content: "";
      left: -40px;
    }

    &::after {
      content: "";
      top: -51px;
    }
  }
}

.comment__legend {
  margin-bottom: 37px;
}

.comment__textarea {
  width: 281px;
  height: 150px;
  resize: none;
  padding: 15px;
  font-family: "Oswald-regular", sans-serif, "Arial";
  text-transform: uppercase;
  color: $second-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #e7e7e7;

  @media (min-width: $tablet) {
    width: 628px;
    height: 175px;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 20px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    padding: 8px 20px;
  }
}

//Стилит при взаимодействии для textarea

.comment__textarea:hover {
  border: 1px solid #cdcdcd;
}

.comment__textarea:focus {
  border: 2px solid #444444;
}

.extras__fieldset {
  margin-top: 14px;
  margin-bottom: 33px;

  &::before {
    content: "";
    width: 180px;
  }

  &::after {
    content: "";
    transform: translateX(-50%);
    top: -44px;
  }

  @media (min-width: $tablet) {
    margin-top: 51px;
    padding-top: 57px;
    margin-bottom: 49px;

    &::before {
      content: "";
      width: 292px;
      top: -30px;
    }

    &::after {
      content: "";
      top: -14px;
    }
  }

  @media (min-width: $desktop) {
    margin-top: 65px;
    margin-bottom: 56px;
  }
}

.extras__legend {
  margin-bottom: 33px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.extras__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 29px 59px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}

.extras__item {
  margin-bottom: 13px;
  height: 30px;
}

.extras__item:last-child {
  margin-bottom: 0;
}

.extras__label {
  display: flex;
  align-items: center;
}

.extras__checkbox {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  cursor: pointer;
  margin: 0;
  margin-right: 15px;
  appearance: none;

  @media (min-width: $tablet) {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}

//Стилит при взаимодействии для checkbox

.extras__label:hover .extras__checkbox {
  border: 1px solid #bababa;
}

.extras__label:disabled .extras__checkbox {
  opacity: 0.3;
}

.extras__checkbox[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  background-image: url("../../img/checkbox_tick.svg");
  background-repeat: no-repeat;
}

.actions__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 70px;
    column-gap: 64px;
  }

  @media (min-width: $desktop) {
    padding: 0;
    column-gap: 80px;
    margin-bottom: 80px;
  }
}

.actions__submit-form {
  display: flex;
  text-decoration: none;
  width: 280px;
  justify-content: center;
  height: 40px;
  align-items: center;
  text-transform: uppercase;
  border: none;
  font-family: "Oswald-regular", sans-serif, "Arial";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin: 0 20px 21px 20px;

  @media (min-width: $tablet) {
    min-width: 284px;
    margin: 0;
    height: 54px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    width: 100%;
  }
}

.actions__second-text {
  text-transform: none;
  font-family: "Lato", sans-serif, "Arial";
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $main-text-color;

  @media (min-width: $tablet) {
    font-size: 16px;
  }
}
