.form-request {
  display: flex;
  flex-direction: column;
  width: $mobile;
  margin: 0 auto;
  padding: 0 0 32px 0;
  font-family: "Oswald-regular", sans-serif, "Arial";
  text-transform: uppercase;
  color: $second-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet) {
    width: $tablet;
    margin-top: 66px;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop) {
    width: $desktop;
    padding: 0;
  }
}

//Стили формы по коту

.eat-programme__wrapper {
  @media (min-width: $tablet) {
    margin: 0 40px;
  }

  @media (min-width: $desktop) {
    display: flex;
    margin: 0;
    gap: 80px;
  }
}

.eat-programme__list {
  padding: 0 20px;
  list-style: none;
  border-bottom: 1px solid #d9d9d9;
  margin: 0 0 21px 0;

  @media (min-width: $tablet) {
    border: none;
    margin-bottom: 72px;
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    width: 570px;
    padding: 0;
    margin: 0;
  }
}

.eat-programme__item {
  margin-bottom: 14px;

  @media (min-width: $tablet) {
    margin-bottom: 20px;
  }
}

.eat-programme__item:last-child {
  margin-bottom: 24px;

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.eat-programme__item-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eat-programme__item-text {
  display: block;
  margin: auto 13px auto 0;
  flex: 0 0 auto;
}

.eat-programme__item-form {
  height: 45px;
  width: 100%;
  padding: 0 50px 0 15px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  font-family: "Oswald-regular", sans-serif, "Arial";
  text-transform: uppercase;
  color: $second-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    height: 52px;
    padding: 0 50px 0 20px;
  }

  @media (min-width: $desktop) {
    height: 52px;
  }
}

//Стилит при взаимодействии для Input

.eat-programme__item-label:hover .eat-programme__item-form {
  border: 1px solid #cdcdcd;
}

.eat-programme__item-label:focus .eat-programme__item-form {
  border: 2px solid #444444;
}

.eat-programme__item-label:invalid .eat-programme__item-form {
  border: 2px solid #ff8282;
}

//Стили формы с радиокнопками по программе питания
.eat-programme__radio-list {
  list-style: none;
  padding: 0 20px 20px 20px;
  margin-bottom: 25px;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    border: 1px solid #d9d9d9;
    margin: 0 30px 0 30px;
    padding: 22px 25px 26px;
  }

  @media (min-width: $desktop) {
    width: 570px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.eat-programme__radio-item {
  margin-bottom: 13px;
  height: 30px;

  @media (min-width: $tablet) {
    height: 40px;
  }

  @media (min-width: $desktop) {
    margin-left: 27px;
  }
}

.eat-programme__radio-item:last-child {
  margin-bottom: 0;
}

.eat-programme__radio-label {
  display: flex;
  align-items: center;
}

.eat-programme__radio-input {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $border-check-radio-color;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin: 0 15px 0 0;
  appearance: none;

  @media (min-width: $tablet) {
    width: 41px;
    height: 41px;
    margin-right: 20px;
  }
}

.eat-programme__radio-input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #68b738;

  @media (min-width: $tablet) {
    width: 19px;
    height: 19px;
  }
}

//Стилит при взаимодействии для Radio button
.eat-programme__radio-input:hover { //короче это какая то шляпа, надо разобраться...либо вложенность либо так...хрень как ни крути
  border-color: #bababa;
}

.eat-programme__radio-label:disabled {
  opacity: 0.3;
}
