.footer {
  width: 100%;
  background-color: #ededed;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  width: $mobile;
  margin: 0 auto;
  padding: 38px 0;
  font-family: "Oswald-regular", sans-serif, "Arial";

  @media (min-width: $tablet) {
    width: $tablet;
    flex-direction: row;
    padding: 55px 0 55px 0;
  }

  @media (min-width: $desktop) {
    width: $desktop;
    padding: 67px 0;
  }
}

.footer__wrapper-logo {
  text-align: center;
  margin: 0 20px 20px 20px;
  padding: 0 0 14px 0;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    text-align: inherit;
    border: none;
    padding: 0;
    display: block;
    margin: 5px 0 0 31px;
  }

  @media (min-width: $desktop) {
    margin: 5px 0 0 0;
    width: 160px;
  }
}

.footer__social-list {
  padding: 0;
  display: flex;
  margin: auto;
  justify-content: space-around;
  list-style: none;

  @media (min-width: $tablet) {
    margin: 7px auto 0 160px;
    align-items: center;
  }

  @media (min-width: $desktop) {
    margin: auto;
    gap: 24px;
  }
}

.footer__social-item {
  margin-right: 24px;

  @media (min-width: $desktop) {
    margin: 5px 0 0 0;
  }
}

.footer__social-item:last-child {
  margin-right: 0;
}

.academy-link {
  display: flex;
  margin: 14px 20px 0 20px;
  padding: 20px 0 0 0;
  text-decoration: none;
  color: $second-text-color;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    padding: 0 30px 0 0;
    border: none;
    margin: 0;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.icon {
  &:hover path {
    fill: $main-color;
  }

  &:active path {
    fill: $main-color;
    opacity: 0.3;
  }
}

.academy-logo {
  @media (min-width: $tablet) {
    margin-left: 23px;
  }
}
