.footer {
  width: 100%;
  background-color: #ededed;
  flex-grow: 0;
  flex-shrink: 0;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  width: $mobile;
  margin: 0 auto;
  padding: 38px 0;
  font-family: "Oswald", "Arial", sans-serif;

  @media (min-width: $tablet) {
    width: $tablet;
    flex-direction: row;
    padding: 55px 0 55px 0;
  }

  @media (min-width: $desktop-width) {
    width: $desktop;
    padding: 67px 0;
  }
}

.footer__wrapper-logo {
  text-align: center;
  margin: 0 20px 20px 20px;
  padding: 0 0 14px 0;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    text-align: inherit;
    border: none;
    padding: 0;
    display: block;
    margin: 5px 0 0 31px;
  }

  @media (min-width: $desktop-width) {
    margin: 5px 0 0 0;
    width: 160px;
  }
}

.footer__social-list {
  padding: 0;
  display: flex;
  margin: auto;
  justify-content: space-around;
  list-style: none;
  flex-wrap: wrap;

  @media (min-width: $tablet) {
    margin: 7px auto 0 160px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    gap: 24px;
  }
}

.footer__social-item {
  margin-right: 24px;

  @media (min-width: $desktop-width) {
    margin: 5px 0 0 0;
  }
}

.footer__social-item:last-child {
  margin-right: 0;
}
