.form-page__tittle-case {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  color: $main-text-color;
  font-family: "Oswald-regular", sans-serif, "Arial";

  @media (min-width: $tablet) {
    width: $tablet;
  }

  @media (min-width: $desktop) {
    width: $desktop;
  }
}

.form-page__tittle-wrapper {
  padding-left: 20px;
  width: $mobile;
  margin-inline: auto;

  @media (min-width: $tablet) {
    width: $tablet;
  }

  @media (min-width: $desktop) {
    padding: 0;
    width: $desktop;
  }
}

.form-page-tittle {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 27px 0 37px 0;

  @media (min-width: $tablet) {
    margin: 65px auto 0 40px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop) {
    margin-left: 0;
  }
}

.form-page__second-text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin: 0 0 40px 0;

  @media (min-width: $tablet) {
    margin: 55px 0 0 40px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    margin-left: 0;
  }
}
