.form-request {
  display: flex;
  flex-direction: column;
  width: $mobile;
  margin: 0 auto;
  padding: 0 0 32px 0;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: $second-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet) {
    width: $tablet;
    margin-top: 66px;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop;
    padding: 0;
  }
}
  