.header {
  min-height: 65px;
  width: $mobile;
  position: relative;
  margin: 0 auto;
  flex-grow: 0;
  flex-shrink: 0;

  @media (min-width: $tablet) {
    width: $tablet;
    min-height: 50px;
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop;
    min-height: 59px;
    padding-top: 54px;
  }
}

.header--main::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  min-height: 303px;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/promo-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/promo-background-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-width: $tablet) {
    background: none;
  }

  @media (min-width: $desktop-width) {
    width: 49.5vw;
    overflow: auto;
    left: 50%;
    min-height: 694px;
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/promo-background-desktop.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    top: 0;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../img/promo-background-desktop@2x.jpg");
      background-position: left bottom;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.header__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 13px 20px 0;


  @media (min-width: $tablet) {
    padding: 0 33px 0 30px;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

.header__logo {
  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}
