.map {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  align-items: center;

  @media (min-width: $tablet) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: $desktop;
  }
}

.map--color {
  background-color: #f2f2f2;
}

.map__wrapper {
  width: $mobile-content;
  margin: 0 auto;
  padding: 27px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet) {
    width: $tablet;
    padding-top: 59px;
    margin-bottom: 1px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: $desktop;
    padding-top: 0;
  }
}

.map__iframe {
  position: absolute;
  width: 99vw;
  left: 50%;
  transform: translateX(-50%);
  height: 360px;
  border: none;

  @media (min-width: $tablet) {
    height: 400px;
  }
}

.map__iframe-wrapper {
  display: block;
  width: 320px;
  height: 360px;
  position: relative;

  @media (min-width: $tablet) {
    width: $tablet;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 400px;
  }
}

.map__img {
  display: block;
  width: 100%;
}
