.programmes {
  display: flex;
  width: $mobile;
  margin: 20px auto 0 auto;
  padding: 0;
  justify-content: center;
  color: $main-text-color;
  font-family: "Oswald-regular", "Arial", sans-serif;
  position: relative;

  @media (min-width: $tablet) {
    width: $tablet;
    margin-top: 0;
  }

  @media (min-width: $desktop) {
    width: $desktop;
    margin-top: 78px;
  }
}

.programmes__wrapper {
  width: $mobile-content;

  @media (min-width: $tablet) {
    width: 100%;
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    padding: 0;
    display: flex;
    gap: 80px;
  }
}

.programmes__card {
  background-color: $second-color;
  margin-bottom: 20px;
  padding: 30px 20px 13px 20px;
  position: relative;

  @media (min-width: $tablet) {
    padding: 77px 0 57px 52px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    padding: 77px 60px 58px 52px;
  }
}

.programmes__card--fit::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 53px;
  left: 19px;
  top: 21px;
  background-image: url("../../img/cat_back_programms_fit.svg");
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: $tablet) {
    width: 200px;
    height: 211px;
    left: auto;
    right: 63px;
    top: 81px;
  }

  @media (min-width: $desktop) {
    width: 100px;
    height: 106px;
    right: auto;
    left: 52px;
    top: 42px;
  }
}

.programmes__card--mass::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 50px;
  left: 11px;
  top: 25px;
  background-image: url("../../img/cat_back_programms_mass.svg");
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: $tablet) {
    width: 268px;
    height: 200px;
    left: auto;
    right: 29px;
    top: 91px;
  }

  @media (min-width: $desktop) {
    width: 134px;
    height: 100px;
    right: auto;
    left: 34px;
    top: 47px;
  }
}


.programmes__title {
  margin: 0 0 0 70px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;

  @media (min-width: $tablet) {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    margin-left: 162px;
  }
}

.programmes__text {
  color: $second-text-color;
  margin-top: 30px;
  margin-bottom: 11px;
  padding-bottom: 23px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    border: none;
    width: 340px;
    padding: 0;
    margin-top: 25px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 51px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    margin-top: 73px;
    margin-bottom: 28px;
  }
}

.programmes__link {
  text-decoration: none;
  color: $main-text-color;
  text-transform: uppercase;
  line-height: 30px;
  margin-top: 19px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 12px;
    background-image: url("../../img/arrow_icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    top: 5px;
    margin-left: 15px;
    transition: all ease;

    @media (min-width: $tablet) {
      top: 9px;
      margin-left: 26px;
    }
  }

  &:hover {
    &::after {
      background-image: url("../../img/arrow_icon_hower.svg");
      width: 32px;
    }
  }

  &:active {
    opacity: 0.3;

    &::after {
      background-image: url("../../img/arrow_icon_hower.svg");
      width: 32px;
    }
  }

  @media (min-width: $tablet) {
    font-size: 20px;
  }
}
