.promo {
  display: flex;
  width: $mobile;
  height: 480px;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  color: #ffffff;
  font-family: "Oswald-regular", sans-serif, "Arial";
  text-align: center;
  position: relative;

  @media (min-width: $tablet) {
    height: 875px;
    width: $tablet;
    color: #000000;
    text-align: start;
    justify-content: flex-start;
  }

  @media (min-width: $desktop) {
    width: $desktop;
    height: 580px;
  }
}

.promo::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 303px;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/promo-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/promo-background-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  @media (min-width: $tablet) {
    background: none;
  }

  @media (min-width: $desktop) {
    width: 49.5vw;
    overflow: auto;
    left: 50%;
    height: 694px;
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/promo-background-desktop.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    top: -115px;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../img/promo-background-desktop@2x.jpg");
      background-position: left bottom;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.promo__wrapper {
  padding: 27px 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media (min-width: $tablet) {
    padding: 0 30px;
    width: $tablet;
    align-items: flex-start;
    height: auto;
    justify-content: flex-start;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.promo__offer {
  width: 100%;
  margin: 0;
  position: relative;

  @media (min-width: $tablet) {
    padding-left: 90px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop) {
    padding-left: 80px;
  }
}

.promo__title {
  width: 250px;
  font-family: "Oswald-regular", sans-serif, "Arial";
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0 auto 30px auto;

  @media (min-width: $tablet) {
    margin: 0;
    padding-top: 65px;
    font-size: 60px;
    line-height: 60px;
    width: 420px;
  }

  @media (min-width: $desktop) {
    padding-top: 110px;
  }
}

.promo__text {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin: 0;
    padding-top: 40px;
    font-size: 20px;
    line-height: 20px;
    width: 420px;
  }
}

.promo__picture {
  z-index: -1;
  position: absolute;
  bottom: 17px;

  @media (min-width: $desktop) {
    right: -237px;
    bottom: 45px;
  }
}

.promo__link {
  display: flex;
  width: 280px;
  height: 40px;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;

  @media (min-width: $tablet) {
    margin: 50px 0 0 90px;
    padding: 14px 26px;
    width: auto;
    height: auto;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop) {
    margin-left: 80px;
  }
}
