// тут мы заполняем и добавляем переменные, базовый цвет, цвет фона, то что часто используем в разных местах
//Основные цвета сайта
$main-color: #68b738;
$white-color: #ffffff;
$second-color: #eaeaea;
$background-color: #f2f2f2;

//Основные цвета текста
$main-text-color: #000000;
$second-text-color: #444444;
$thirf-text-color: #111111;

//цвет текста кнопок и меню
$button-text-color: #ffffff;
$button-active-text-color: rgb(255, 255, 255, 0.3);
$button-hover-color: #5eaa2f;
$button-active-color: #5eaa2f;
$button-alternative-hover-color: #ebebeb;
$button-alternative-active-color: #ebebeb;
$button-slider-color: #666666;
$button-slider-hover-color: #68b738;
$button-slider-active-color: #5eaa2f;

//цвета для бордера
$border-check-radio-color: #cdcdcd;
$border-check-radio-hover-color: #bababa;
$border-input-color: #e7e7e7;
$border-input-hover-color: #cdcdcd;
$border-input-focus-color: #444444;
$border-input-error-color: #ff8282;

//дополнительные цвета
$second-background-color: #d3d3d3;
$third-background-color: #222222;

//Viewpoets
$mobile-content: 279px;
$mobile: 320px;
$mobile-width-only: 767px;
$tablet: 768px;
$desktop: 1220px;
$desktop-width: 1440px;
